<div>
    <h2 id="page-heading">
        <span jhiTranslate="gcpMetricsExplorerApp.googleMetric.home.title">Google Metrics</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-google-metric" [routerLink]="['/google-metric/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gcpMetricsExplorerApp.googleMetric.home.createLabel">
            Create a new Google Metric
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="googleMetrics?.length === 0">
        <span jhiTranslate="gcpMetricsExplorerApp.googleMetric.home.notFound">No googleMetrics found</span>
    </div>
    <div style="width: 200px;">
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
              <div>
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="gcpMetricsExplorerApp.googleMetric.metricGroup" for="field_metricGroup">Metric Group</label>
                      <select class="form-control" id="field_metricGroup" name="metricGroup" formControlName="metricGroupId" (ngModelChange)="filter()">
                          <option [ngValue]="null"></option>
                          <option [ngValue]="googleMetricGroupOption.id" *ngFor="let googleMetricGroupOption of googlemetricgroups; trackBy: trackById">{{ googleMetricGroupOption.name }}</option>
                      </select>
                  </div>
            </div>
        </form>

    </div>
    <div class="table-responsive" id="entities" *ngIf="googleMetrics?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="gcpMetricsExplorerApp.googleMetric.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="gcpMetricsExplorerApp.googleMetric.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="metricGroupName"><span jhiTranslate="gcpMetricsExplorerApp.googleMetric.metricGroup">Metric Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let googleMetric of googleMetrics ;trackBy: trackId">
                    <td><a [routerLink]="['/google-metric', googleMetric.id, 'view']">{{ googleMetric.id }}</a></td>
                    <td>{{ googleMetric.name }}</td>
                    <td>{{ googleMetric.description }}</td>
                    <td>
                        <div *ngIf="googleMetric.metricGroupId">
                            <a [routerLink]="['/google-metric-group', googleMetric.metricGroupId , 'view']" >{{ googleMetric.metricGroupName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/google-metric', googleMetric.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/google-metric', googleMetric.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(googleMetric)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
