<div>
    <h2 id="page-heading">
        <span jhiTranslate="gcpMetricsExplorerApp.googleProject.home.title">Google Projects</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-google-project" [routerLink]="['/google-project/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gcpMetricsExplorerApp.googleProject.home.createLabel">
            Create a new Google Project
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="googleProjects?.length === 0">
        <span jhiTranslate="gcpMetricsExplorerApp.googleProject.home.notFound">No googleProjects found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="googleProjects?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="gcpMetricsExplorerApp.googleProject.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="googleId"><span jhiTranslate="gcpMetricsExplorerApp.googleProject.googleId">Google Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="googleMetricId"><span jhiTranslate="gcpMetricsExplorerApp.googleProject.googleMetric">Google Metric</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let googleProject of googleProjects ;trackBy: trackId">
                    <td><a [routerLink]="['/google-project', googleProject.id, 'view']">{{ googleProject.id }}</a></td>
                    <td>{{ googleProject.name }}</td>
                    <td>{{ googleProject.googleId }}</td>
                    <td>
                        <div *ngIf="googleProject.googleMetricId">
                            <a [routerLink]="['/google-metric', googleProject.googleMetricId , 'view']" >{{ googleProject.googleMetricId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/google-project', googleProject.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/google-project', googleProject.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(googleProject)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
