<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="googleMetricGroup">
            <h2><span jhiTranslate="gcpMetricsExplorerApp.googleMetricGroup.detail.title">Google Metric Group</span> {{ googleMetricGroup.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gcpMetricsExplorerApp.googleMetricGroup.name">Name</span></dt>
                <dd>
                    <span>{{ googleMetricGroup.name }}</span>
                </dd>
                <dt><span jhiTranslate="gcpMetricsExplorerApp.googleMetricGroup.googleId">Google Id</span></dt>
                <dd>
                    <span>{{ googleMetricGroup.googleId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/google-metric-group', googleMetricGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
